/* stylelint-disable
   selector-id-pattern
*/
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
    overflow: visible;
    text-align: center;
}

#cboxLoadedContent {
    overflow: auto;
}

#cboxLoadedContent iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer;
}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
    background: #000;
}

#colorbox {}

#cboxTopLeft {
    width: 14px;
    height: 14px;
    background: url("images/controls.png") 0 0 no-repeat;
}

#cboxTopCenter {
    height: 14px;
    background: url("images/border.png") top left repeat-x;
}

#cboxTopRight {
    width: 14px;
    height: 14px;
    background: url("images/controls.png") -36px 0 no-repeat;
}

#cboxBottomLeft {
    width: 14px;
    height: 43px;
    background: url("images/controls.png") 0 -32px no-repeat;
}

#cboxBottomCenter {
    height: 43px;
    background: url("images/border.png") bottom left repeat-x;
}

#cboxBottomRight {
    width: 14px;
    height: 43px;
    background: url("images/controls.png") -36px -32px no-repeat;
}

#cboxMiddleLeft {
    width: 14px;
    background: url("images/controls.png") -175px 0 repeat-y;
}

#cboxMiddleRight {
    width: 14px;
    background: url("images/controls.png") -211px 0 repeat-y;
}

#cboxContent {
    background: #fff;
}

#cboxLoadedContent {
    margin-bottom: 5px;
}

#cboxLoadingOverlay {
    background: url("images/loading_background.png") center center no-repeat;
}

#cboxLoadingGraphic {
    background: url("images/loading.gif") center center no-repeat;
}

#cboxTitle {
    position: relative;
    display: inline-block;
    bottom: 0px;
    margin: 0 5px;
    white-space: nowrap;
    line-height: 1.4;
    left: 25%;
    transform: translateX(-25%);
    text-align: center;
    font-weight: bold;
    color: #7c7c7c;
}

#cboxCurrent {
    position: relative;
    left: 20%;
    margin-right: 6px;
    translate: translateX(-100%);
    font-weight: bold;
    color: #7c7c7c;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    position: absolute;
    bottom: -29px;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    background: url("images/controls.png") 0 0 no-repeat;
}

#cboxPrevious {
    left: 0;
    background-position: -51px -25px;
}

#cboxPrevious.hover {
    background-position: -51px 0;
}

#cboxNext {
    left: 27px;
    background-position: -75px -25px;
}

#cboxNext.hover {
    background-position: -75px 0;
}

#cboxClose {
    right: 0;
    background-position: -100px -25px;
}

#cboxClose.hover {
    background-position: -100px 0;
}

.cboxSlideshow_on #cboxSlideshow {
    background-position: -125px 0;
    right: 27px;
}

.cboxSlideshow_on #cboxSlideshow.hover {
    background-position: -150px 0;
}

.cboxSlideshow_off #cboxSlideshow {
    background-position: -150px -25px;
    right: 27px;
}

.cboxSlideshow_off #cboxSlideshow.hover {
    background-position: -125px 0;
}
