*~
TAGS
static/documents/tempfiles
!exists
!.exists
_build
Build
MYMETA.yml
*.sw?
test.sh
blib/*
.#*
*.bak
static/data
static/static_content
cover_db
lib/MyDevLibs.pm
static/documents/img/secretom/.directory
