*~
TAGS
static/documents/tempfiles
!exists
!.exists
_build
/Build
MYMETA.yml
*.sw?
test.sh
blib/*
.#*
*.bak
static/data
static/static_content
cover_db
lib/MyDevLibs.pm
static/documents/img/secretom/.directory
programs/*.o
programs/draw_contigalign
programs/fast_mapping
sgn_local.conf
sgn_testing.conf
sgn_fixture.conf
t/data/data/prod/tmp/
t/data/vigstool/vigs*
*.log
logfile*.txt
MANIFEST*
./cgi-bin/secretom
MYMETA.json
tags
.prove
.Rhistory
sgn_local_zea.conf
nytprof.out
system_message.txt
#sgn_local.conf#
sgn_local.conf.old
export/*
temp_images/*
js/node_modules
js/build
js/test_build
js/package-lock.json
