*~
TAGS
static/documents/tempfiles/*
static/documents/tempfiles/*
features/gbrowse2/conf/rendered_conf/*.conf
logs/
!exists
!.exists
_build
Build
MYMETA.yml
*.sw?
test.sh
blib/*
.#*
*.bak
static/data
static/static_content
cover_db
lib/MyDevLibs.pm
