static/documents/img/imagebreed/AlfalfaExample35MeterMicasenseAerialDroneFlightOrthomosaics.zip filter=lfs diff=lfs merge=lfs -text
static/documents/img/imagebreed/AlfalfaExample35MeterMicasenseAerialDroneFlightRawCaptures.zip filter=lfs diff=lfs merge=lfs -text
static/documents/img/imagebreed/ExampleAerialDroneFlightMicasensePanel.zip filter=lfs diff=lfs merge=lfs -text
