
/* misc solGS specific custom CSS */


/*
* custom css for Flot plots
*/


.message {
    font-weight:bold;
    text-align:center;
    color:#A7C942;
    display:block;
    clear:both;
    padding-top: 40px;
}

.button {
    position: relative;
    margin-right: 10px;
    width: auto;
    height: 25px;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #5cb85c;
}

.button:hover {
    background-color: #c6e6c6;
}

#gebvPlot2, #phenoPlot  {
    width: 600px;
    height:400px;
}

#gebvPlotOverview, #phenoPlotOverview {
    width:600px;
    height:50px;
}


#gebvPlot2 div.xAxis div.tickLabel {
    font-size: 10px;
    margin-top: 40px;
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}

#phenoPlot div.xAxis div.tickLabel {
    font-size: 10px;
    margin-top: 40px;
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}

/* dialog UI */

.ui-dialog-titlebar-close {
    visibility: hidden;
}



/* select_menu inputs */

.go_btn input{
    height: 29px;
    line-height:29px;
    margin: 1px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #5cb85c;
}

.go_btn input:hover {
    background-color: #c6e6c6;
}


.select_menu_block {
    height: 31px;
    line-height:31px;
    text-align: center;
    color: #ffffff;
    float: left;
    background: #5cb85c;
    padding-left: 10px;
    padding-right: 10px;
}

.glyphicon-plus:before {
  content: "\2b";
  font-weight: bold;
  font-style: normal;
  font-size: 16px;

}
