
/* misc solGS specific custom CSS */


/*
* custom css for Flot plots
*/

.button {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;  
    width: auto;
    height: 30px;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #5cb85c; 
}

.button:hover {
    background-color: #c6e6c6; 
}

#gebvPlot2, #phenoPlot  {
    width: 600px;
    height:400px;
}

#gebvPlotOverview, #phenoPlotOverview {
    width:600px;
    height:50px;
}


#gebvPlot2 div.xAxis div.tickLabel {  
    font-size: 10px;
    margin-top: 40px;
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */  
}

#phenoPlot div.xAxis div.tickLabel {  
    font-size: 10px;
    margin-top: 40px;
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */  
}


/* Selectable UI */


#select_a_population .ui-selecting { 
    background:#ccccff ; 
}
#select_a_population .ui-selected {
    background: #ccccff; 
    color: white; 
}

#select_a_population { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

#select_a_population li {
    margin: 3px; 
    padding: 0.4em; 
    font-size: 1.4em; 
    height: 18px; 
    border-style: solid;
    border-width: 1px; 
    border-color: #ccccff;  
}

/* dialog UI */

.ui-dialog-titlebar-close {
    visibility: hidden;
}


/* SI and correlation dropdown */       
.si_dropdown dd, .si_dropdown dt, 
.si_dropdown ul, .corre_dropdown dd, 
.corre_dropdown dt, .corre_dropdown ul {
    margin:0px; 
    padding:0px;
 }
.si_dropdown dd, .corre_dropdown dd,  { 
    position:relative; 
}
.si_dropdown a, .si_dropdown a:visited, 
.corre_dropdown a, .corre_dropdown a:visited { 
    color:#816c5b; 
    text-decoration:none; 
    outline:none;
}
.si_dropdown a:hover, .corre_dropdown a:hover { 
    color: #5d4617;
}
.si_dropdown dt a:hover, .si_dropdown dt a:focus, 
.corre_dropdown dt a:hover, .corre_dropdown dt a:focus { 
    color: ##5d4617; 
    border: 1px solid #5d4617;
}
.si_dropdown dt a, .corre_dropdown dt a {
    background:#ccccff url(/static/documents/img/glyphicons_expand.png) no-repeat scroll right center; 
    display:block; 
    padding-right:10px;
    width:250px;
}
.si_dropdown dt a span, .corre_dropdown dt a span {
    cursor:pointer; 
    display:block; 
    padding:2px;
}
.si_dropdown dd ul, .corre_dropdown dd ul { 
    background:#ccccff none repeat scroll 0 0;
    border:1px solid #ccccff; 
    color: #C5C0B0;
    display:none;
    left:0px; 
    padding:2px 0px; 
    position:relative; 
    top:2px; 
    width:auto; 
    min-width:250px; 
    list-style:none;
}
.si_dropdown span.value, .corre_dropdown span.value { 
    display:none;
}
.si_dropdown dd ul li a, .corre_dropdown dd ul li a { 
    padding:5px; 
    display:block;
}
.si_dropdown dd ul li a:hover, .corre_dropdown dd ul li a:hover { 
    background-color:#efefef;
}
               
/* list inputs */

#list_type_selection_pops_list, 
#list_type_training_pops_list, 
#pca_genotypes_list,
#cluster_genotypes_list {
    display: inline-block; 
    padding-top: 0px;
    margin-right: 5px;
}

#list_type_selection_pop_load input, 
#list_type_training_pop_load input,
.go_btn input {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #5cb85c;
}

#list_type_selection_pop_load input:hover,
#list_type_training_pop_load input:hover,
.go_btn input:hover {
    background-color: #c6e6c6; 
}


.list_upload {
    height: 35px;
    color: #ffffff;
    float: left;
    background: #5cb85c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.solgs_table table th tr td {
    width: 100%;
    align: left;
    
}



/*jquery file upload css
 * jQuery File Upload UI Plugin CSS 6.10
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT

* adapted and simplied for use in solgs
*/

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  height: 30px;
  color: #ffffff;
  background: #5cb85c;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;

}

.fileinput-button:hover {
 background-color: #c6e6c6; 
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .ui-button,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}

/* Fix for IE 6: */
* html .fileinput-button {
  margin-right: 1px;
}
* html .fileinput-button .ui-button-text {
  line-height: 24px;
}
* html .fileupload-buttonbar .ui-button {
  margin-left: 3px;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  margin-right: 4px;
}
* + html .fileinput-button .ui-button-text {
  line-height: 24px;
}
* + html .fileupload-buttonbar .ui-button {
  margin-left: 3px;
}


.glyphicon-plus:before {
  content: "\2b";
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  
}





/* formfu css
Originally written by Carl Franks, cranks@cpan.org.
Some modification done for solGS.
*/


fieldset {
	padding: 1em;
        border: 0;
}


fieldset .checkbox,
fieldset .contentbutton,
fieldset .date,
fieldset .file,
fieldset .image,
fieldset .multi,
fieldset .password,
fieldset .radio,
fieldset .recaptcha,
fieldset .reset,
fieldset .select,
fieldset .submit,
fieldset .text,
fieldset .textarea
{
	display: block;
	clear: left;
	border: 0;
	margin: 1px;
	/* when no label */
	margin-left: 12em;
}

fieldset .button {
    margin: 0px;
    height: 25px;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #5cb85c; 
}



/* make the noscript textarea sit below the iframe
*/
fieldset .recaptcha noscript textarea {
    display: block;
}

/* override the iframe's height="" - it's seems a bit big
*/
fieldset .recaptcha iframe {
    height: 230px ! important;
}

fieldset .button.label,
fieldset .checkbox.label,
fieldset .contentbutton.label,
fieldset .date.label,
fieldset .file.label,
fieldset .image.label,
fieldset .multi.label,
fieldset .password.label,
fieldset .radio.label,
fieldset .recaptcha.label,
fieldset .reset.label,
fieldset .select.label,
fieldset .submit.label,
fieldset .text.label,
fieldset .textarea.label
{
	margin-left: 1px;
}




fieldset .error.label {
	/* border + margin swap values with above, to ensure rows align */
	border: 1px #fff;
	margin: 0;
}

form .form_error_message {
	padding: 0.5em;
	border: 1px solid #9999ff;
	background-color: #9999ff;
}

fieldset .error_message {
       display: block;
       color: #9999ff;
}

fieldset .label .error_message {
       /* padding-left eq label width + padding-right */
       padding-left: 12em;
}

fieldset .error input,
fieldset .error textarea,
fieldset .error select {
       background-color: #9999ff;
}

fieldset .button label,
fieldset .contentbutton label,
fieldset .checkbox label,
fieldset .date label,
fieldset .file label,
fieldset .image label,
fieldset .multi label,
fieldset .password label,
fieldset .radio label,
fieldset .radiogroup label,
fieldset .recaptcha label,
fieldset .select label,
fieldset .text label,
fieldset .textarea label
{
	display: inline;
	float: left;
	width: 11em;
	text-align: right;
	padding-right: 2em;
}

fieldset .radiogroup span label {
	/* undo the above style */
	float: none;
	width: auto;
	text-align: left;
	padding-right: 0;
}

fieldset .multi .elements {
	display: block;
	float: left;
}

fieldset .multi .elements label {
	display: block;
	width: auto;
	padding-right: 0.25em;
}

fieldset .multi input,
fieldset .multi select {
	display: block;
	float: left;
	margin-right: 0.5em;
}

fieldset.checkboxgroup,
fieldset.radiogroup
{
	margin: 0;
	margin-left: 12em;
	padding: 0;
	width: auto;
}

fieldset.radiogroup.label {
	border: 0;
	margin-left: 0em;
}

fieldset .comment .comment {
	/* when no label */
	display: block;
	margin-left: 0em;
}

fieldset .label .comment {
	display: block;
	margin-left: 12em;
}

/*** Alternative Layouts ***/

fieldset .notes {
	float: right;
	width: 30%;
	border: 1px dotted;
}

fieldset .multi.vertical input,
fieldset.checkboxgroup .vertical input,
fieldset.radiogroup .vertical input
{
	display: block;
	float: left;
	clear: left;
	margin-right: 0.5em;
}

fieldset .multi.vertical select {
	display: block;
	float: left;
	clear: right;
}

fieldset.checkboxgroup .vertical label,
fieldset.radiogroup .vertical label
{
	display: block;
	clear: right;
}

fieldset.radiogroup .vertical .subgroup {
	float: left;
}

fieldset .fullwidth label
{
	display: block;
	float: left;
	width: auto;
	text-align: left;
}

fieldset .fullwidth .error_message {
       padding-left: 0em;
}

fieldset .fullwidth textarea
{
	display: block;
	clear: left;
	width: 30em;
}

fieldset .dojoeditor2 .RichTextEditable { /* Dojo::Editor2 */
	display: inline;
	float: left;
	background-color: #ffc;
	padding-bottom: 0.1em;
}


