<VirtualHost *:80>

    ServerName       solgenomics.net

    PerlWarn         Off
    PerlTaintCheck   On

    LogLevel         error

    <Perl>
       use lib '/usr/share/sgn-site/sgn/lib',
               '/usr/share/sgn-site/lib/perl5';
        
       use SGN::Deploy::Apache SGN => (
           type  => 'mod_perl',
           vhost => 1,
           env   => {
              PERL5LIB   => join( ':', @INC ),
              SGN_CONFIG => '/etc/cxgn/SGN.conf',
              R_LIBS     => '/usr/share/sgn-site/lib/R',
           },
       );

    </Perl>

</VirtualHost>

# vhost for redirecting aliases of this site to the main site
<VirtualHost *:80>
    ServerName sgn-vm
    ServerAlias www.solgenomics.net
    ServerAlias solanaceae.org
    ServerAlias www.solanaceae.org
    ServerAlias solgenomics.org
    ServerAlias www.solgenomics.org
    ServerAlias solgenomics.com
    ServerAlias www.solgenomics.com
    ServerAlias soldb.cit.cornell.edu
    ServerAlias sgn.cornell.edu
    ServerAlias www.sgn.cornell.edu
    Redirect permanent / http://solgenomics.net/
</VirtualHost>
