<VirtualHost *:80>

    ServerName sgn.localhost.localdomain

    PerlWarn On
    PerlTaintCheck On

    LogLevel error

    <Perl>

       use lib (qw(
                   /crypt/rob/cxgn/curr/sgn/lib
                   /crypt/rob/cxgn/curr/ITAG/lib
                   /crypt/rob/cxgn/curr/biosource/lib
                   /crypt/rob/cxgn/curr/Phenome/lib
                   /crypt/rob/cxgn/curr/tomato_genome/lib
                   /crypt/rob/cxgn/curr/Cview/lib
                   /crypt/rob/cxgn/curr/cxgn-corelibs/lib
                   /crypt/rob/cpan-lib/lib/perl5
                   /crypt/rob/cpan-lib/lib/perl5/i486-linux-gnu-thread-multi
                  ));

       $ENV{PERL5LIB} = join ':', @INC;

       use SGN::Deploy::Apache SGN => ( type => 'mod_perl', vhost => 1 );

    </Perl>

</VirtualHost>
