<VirtualHost *:80>

    ServerName sgn.localhost.localdomain

    PerlWarn On
    PerlTaintCheck On

    LogLevel error

    <Perl>

       use lib (qw(
                   /home/rob/cxgn/sgn/lib
                   /home/rob/cxgn/ITAG/lib
                   /home/rob/cxgn/biosource/lib
                   /home/rob/cxgn/Phenome/lib
                   /home/rob/cxgn/tomato_genome/lib
                   /home/rob/cxgn/Cview/lib
                   /home/rob/cxgn/cxgn-corelibs/lib
                   /home/rob/cpan-lib/lib/perl5
                   /home/rob/cpan-lib/lib/perl5/i686-linux-gnu-thread-multi
                  ));

       $ENV{PERL5LIB} = join ':', @INC;

       use SGN::Deploy::Apache SGN => ( type => 'mod_perl', vhost => 1 );

    </Perl>

</VirtualHost>
