<VirtualHost *:80>

    ServerName sgn.localhost.localdomain

    PerlWarn On
    PerlTaintCheck On

    LogLevel error

    <Perl>

       use local::lib '/crypt/rob/cpan-lib';
       use lib ( '/crypt/rob/cxgn/curr/sgn/lib',
                 '/crypt/rob/cxgn/curr/ITAG/lib',
                 '/crypt/rob/cxgn/curr/Phenome/lib',
                 '/crypt/rob/cxgn/curr/tomato_genome/lib',
                 '/crypt/rob/cxgn/curr/Cview/lib',
                 '/crypt/rob/cxgn/curr/cxgn-corelibs/lib',
                );

       use SGN::Deploy::Apache SGN => ( type => 'mod_perl', vhost => 1 );

    </Perl>

</VirtualHost>
