
#icon_nav, #icon_nav ul { /* all lists */
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style: none;
	line-height: 1;
}

#icon_nav a {
	display: block;
	width: 19em;
        background: none;
        color: #000099;
}
#icon_nav a:visited {
        color: #000099;
}

#icon_nav li { /* all list items */
	float: left; 
	/* width: 10em; width needed or else Opera goes nuts */
}

#icon_nav li ul { /* second-level lists */
	position: absolute;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#icon_nav li ul li {
	margin-left: 1em;
        font-family: verdana, arial, helvetica, serif;  
        /* cancel any transparency on submenus */
        filter: alpha(opacity=100); /* IE */
        opacity: 1.0; /* standard */	
}

#icon_nav li:hover ul, #icon_nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
        z-index: 10;
}
#icon_nav img {
        border: 1px solid transparent;
        padding: 2px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
}
#icon_nav li:hover > a > img, #icon_nav li.sfhover > a > img { 
        background: #e6e6e6;
        border: 1px solid #ccc;
}

#icon_nav {
        font-family: arial, helvetica, serif;  
        background-image: url("/documents/img/soliconmenu/background.jpg"); 
        background-repeat: no-repeat;
 
}

#icon_nav .submenu {
        background-color: #ccccff;
        border: 1px solid gray;
        filter: alpha(opacity=90); /* IE */
        opacity: 0.9; /* standard */	
	width: 20em;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px; 
        white-space: nowrap;
	z-index: 1;
}

