/** Secretary Stylin' **/
body{
	font-size:0.9em;
	font-family:arial, sans-serif;
	text-align:center;
}
table{
	font-size:0.9em;
	font-family:arial, sans-serif;
	text-align:center;
}
li{
	list-style-type:circle;
}
a{
	color:#3344CC;
}
a.internal{
	text-decoration:none;
}
a.external { 
	text-decoration:underline;
	font-style:normal;
	background: url(/documents/img/external.png) center right no-repeat;
	padding-right: 13px;
}


/** change these!!! **/
a.hotlistAdd {
	background: url(/documents/img/secretary/hotlistAdd.png) center right no-repeat;
	padding-right: 13px;
}
a.hotlistRemove {
	padding-right: 0px;
}
/**  				 **/


div.userbar{
	font-size:1.0em;
}
div.headingBar{
	padding-left:3px;
	border-top: 1px solid blue;
	border-bottom: 1px dotted blue;
	background-color:#ddddff;
	margin-bottom:3px;
}

.navbar{
	white-space:nowrap;
}
.userbox{
	text-align:center;
	font-size:1.0em;
	border:2px solid #338833;
	padding:3px;
	margin:3px;
}
.userboxinset{
	background-color:#e9f8dd;
	padding:3px;
}
/* This color has to match 'var searchHighlightColor' in secretary javascript*/
.searchHighlight{
	background-color:#c9c9ff;  
}
.errorbox{
	font-size:1.1em;
	text-align:center;
	border: 2px solid #990000;
	width: 500px;
	padding: 3px;
	margin: 3px;
}
.errorboxinset{
	background-color:#ffe0e0;
	padding:4px;
}
.developererrorbox{
	padding:3px;
	font-size:0.9em;
	border: 1px dotted #555555;
	color:#555555;
}


