/* A:link            { text-decoration: none;  */
/*                     color: #0000FF; */
/*                   } */
/* A:visited         { text-decoration: none;  */
/*                     color: #AA0088; */
/*                   } */
/* A:hover           { text-decoration: underline;  */
/*                   } */
A.banner          { color  : #FFFFFF;
/*                     font-size : small; */
                    text-decoration : none;
                  }
A.bblue           { color: #FFFFFF;
                    background-color: #9999FF;
/*                     font-size : small; */
                    text-align: center;
                  }
A.bred            { color: #FFFFFF;
                    background-color: #FF6666;
/*                     font-size : small; */
                    text-align: center;
                  }
/* H1                { color: #3366FF;  */
/*                     font-family: sans-serif;  */
/*                   } */
H2                { margin: 0 0 1em 0; padding: 0; font-size: small;}
/* H3                { color: #3366FF;  */
/*                     font-family: sans-serif;  */
/*                   } */
/* H4                { color: #3366FF;  */
/*                     font-family: sans-serif;  */
/*                   } */
/* INPUT             { background-color: white; } */
/* P                 { font-family: sans-serif; } */
/* SELECT            { background-color: white; } */
/* TABLE             { padding: 0; */
/*                     spacing: 0; */
/* /*                     width: 100%; */ */
/*                   } */
/* TD                { font-family: sans-serif;  */
/*                     padding: 5px;  */
/* 	            font-size: small; */
/* 		  } */
/* TH                { font-family: sans-serif;  */
/*                     padding: 0;  */
/* 	            font-size: small; */
/*                   } */
TH.linkmenu       { 
                    font-family: sans-serif;
                    padding: 0;
                    font-size: smaller;
                  }
.reset_button     {
/*                     background-color: red; */
/* 	            color: yellow;            */
                  }
.datatitle        {
                    background-color: white;
                    border: 1px solid gray;
                    padding: 5px;
                  }
.databody         { background-color: white; border: 1px solid red; border-collapse: collapse; }
.searchtitle      { background-color: #f8f8f8;
/* 	            font-size: small;  */
                    border: 1px solid gray; 
                    padding: 3px 5px 3px 5px;
} 
select.searchtitle { 
  margin-bottom: 4px;
  padding: 0;
}
.searchbody      { background-color: #f8f8f8;
/* 	            font-size: small; */
                    border: 1px solid gray;
                    padding: 3px 5px 3px 5px;
/*                     padding: 5px; */
}
.settingstitle    { background-color: DarkKhaki;
/* 	            font-size: small; */
}
.settingsbody     { background-color: khaki;
/* 	            font-size: small; */
}
.uploadtitle      { background-color: #e5e5e5;
/* 	            font-size: small; */
                    padding: 3px;
                    border: 1px solid gray;
}
.uploadbody       { 
/* 	            font-size: small; */
}
.technicalinfo    { background-color: #FFFFFF; }
.toggle           { color: #3366FF; }
.error            { color: red; }
.note             { color: red; }
.pre              { font-family: monospace; }
.popup            { COLOR: #9F141A;
                    CURSOR: help;
                    TEXT-DECORATION: none
                  }
.ctl_hidden, .ctl_visible { 
  padding: 6px 0 2px 0;
  line-height: 2;
}

label { 
  font-weight: normal;
}